sample_evaluation/challenge2-1/outputs/submission1
sample_evaluation/challenge2-1/outputs/submission2
sample_evaluation/challenge2-1/outputs/submission3
sample_evaluation/challenge2-1/outputs/verification_scores.txt
sample_evaluation/challenge2-2/outputs/submission1
sample_evaluation/challenge2-2/outputs/submission2
sample_evaluation/challenge2-2/outputs/submission3
sample_evaluation/challenge2-2/outputs/verification_scores.txt
sample_evaluation/challenge2-3/outputs/submission1
sample_evaluation/challenge2-3/outputs/submission2
sample_evaluation/challenge2-3/outputs/submission3
sample_evaluation/challenge2-3/outputs/verification_scores.txt
sample_evaluation/recon_input.tar.gz
sample_evaluation/recon_input
sample_evaluation/meas_input.tar.gz
sample_evaluation/meas_input
